{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" type="text/css" href="{% static 'home/bootstrap.css' %}">
    <meta charset="utf-8">
    <!-- title in the tab on screen -->
    {% if title %}
      <title>Primo Builders | {{title}}</title>
    {% else %}
      <title>Primo Builders</title>
    {% endif %}
  </head>
  <body>
    <header>
        <!-- navigation bar snippet -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container-fluid">
            <a class="navbar-brand" href="#">Primo Builders</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor03">
              <ul class="navbar-nav me-auto">
                <li class="nav-item">
                  <a class="nav-link active" href="/">Home
                    <span class="visually-hidden">(current)</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a id="about" class="nav-link" href="/about">About</a>
                </li>
                <li class="nav-item">
                  <a id="services" class="nav-link" href="/services">Services</a>
                </li>
                <li class="nav-item">
                  <a id="areasOfServ" class="nav-link" href="/areasOfServ">Areas of Service</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Separated link</a>
                  </div>
                </li>
              </ul>
              <form class="d-flex">
                <input class="form-control me-sm-2" type="text" placeholder="Search">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
              </form>
            </div>
          </div>
        </nav>
    </header>

    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
    <div class="col-md-4">
      <div class="content-section">
        <h3>Hire Us!</h3>
    <!-- sidebar could be used for reaching out to primo on the basis
        of a name number and email -->
        <p class='text-muted'>Please enter your information:
            <form>
                <label for="name">Name:</label><br>
                <input type="text" id="fname" name="name"><br>
                <label for="email">E-mail:</label><br>
                <input type="text" id="lname" name="email"><br>
                <label for="pnum">Phone number:</label><br>
                <input type="text" id="lname" name="pnum"><br>
                <label for="message">Message:</label><br>
                <input type="text" id="lname" name="message"><br>
            </form>

        </p>
      </div>
    </div>
  </body>
</html>
